* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding:0;
}

#general-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: minmax(100px, 1fr) 4fr;
}

.header {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 2rem;
    grid-area: 1 / 1 / 2 / -1;
}

.logo {
    display: flex;
}

.sidebar,
.projects,
.main-content,
.project-item,
.todo-list,
.todo-items {
    display: grid;
    gap: 10px;
}

.sidebar {
    grid-area: 2 / 1 / -1 / 2;
}

.main-content {
    grid-area: 2 / 2 / 3 / 3;
}

.add button {
    border-radius: 20%;
    margin: 0;
    padding: 0;
}

.add:hover button {
    background-color: skyblue;
}

dialog {
    border: 0;
    padding: 0;
    border-radius: 5%;
    background-color: beige;
}

dialog::backdrop {
    backdrop-filter: blur(5px);
}

.modal {
    padding: 15px 40px;
    border-radius: 5%;
}

form {
    display: grid;
    gap: 10px;
}

.add-description {
    display: grid;
}
.bottom-container-todo {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.urgency,
.importance {
    display: flex;
    align-items: center;
}

.selection-dialog {
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
    justify-content: center;
}

.selection-dialog > div {
    border: solid 2px grey;
    border-radius: 10%;
    padding: 5px;
}

.selection-dialog div:hover {
    background-color: skyblue;
    transition: all 0.5s ease;
}

.todo-items {
    background-color: lightgrey;
    border: solid 2px blue;
}

.remove {
    border: solid 2px red;
    border-radius: 10px;
}

.remove:hover {
    background-color: red;
}

.active {
    background-color: red;
}

.show-info {
    font-size: 30px;
    min-height: 30vh;
    width: 60vh;
    padding: 5%;
}
